@import "main";

.plugin_working {
	border: 1px solid gray;
    border-radius: 6px;
    background-color: #0275d8;
    text-align: center;
    color: white;
    margin: 0 16px 8px 16px;
    padding: 16px;
    font-size: 2em;
    // -webkit-animation:blink 1.5s ease-in-out infinite alternate;
}



.externalMessageColum {
	background-color: rgb(179,255,179);
}

.externalMessageBody {
	background-color: rgba(179,255,179,0.4);
}

.internalMessageColum {
	background-color: rgb(204,204,204);
}

.internalMessageBody {
	background-color: rgba(204,204,204,0.4);
}

.partnerMessageColum {
	background-color: rgb(255,204,153);
}

.partnerMessageBody {
	background-color: rgba(255,204,153,0.4);
}





/* 付箋用 */
.post_it {
    font-family: $font_family;
	position: fixed;
    right: 0px;
    font-size: 77%;
    color: white;
    width: 200px;
    border-radius: 5px 0 0 5px;
    padding: 10px 0 10px 10px;	
    cursor: pointer;
	// -webkit-transition-property: width;
	// -webkit-transition-duration: 0.5s;
	// -webkit-transition-timing-function: ease;
	// -webkit-transition-delay: 0.3s;

    .post_it_item {
    	padding: 1px 2px;
    	margin: 0 2px;
    }
}

.post_it_close {
	width: 15px !important;
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;

    &:hover {
    	width: 25px !important;
    }
}

#summary_note {
    top: 30%;
    // height: 100px;
    background-color: rgba(2, 117, 216, 0.7);
    border-left: 8px solid rgb(2, 117, 216);
	overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}


/* ページトップへ戻るボタン用 */
.page_top_bottom {
    font-family: $font_family;
    position: fixed;
    right: 20px;
    font-size: 77%;
    opacity: 0.8;

    a {
	    background: #666;
	    text-decoration: none;
	    color: #fff;
	    width: 100px;
	    padding: 10px 0;
	    text-align: center;
	    display: block;
	    border-radius: 5px;

	    &:hover {
		    text-decoration: none;
		    background: #999;	    	
	    }
    }
}
